In [11]:
import os, sys
import pandas as pd
import ipaddress

In [62]:
df = pd.read_csv('ipranges.csv')

def subnet_details(sn):
    n = ipaddress.ip_network(sn)
    n_end = n.network_address + n.num_addresses - 1
    return pd.Series({'IP_START': int(n.network_address), 'IP_END': int(n_end), 'NUM': n.num_addresses, 
            'IPS_START': str(n.network_address), 'IPS_END': str(n_end)})
df = df.join(pd.DataFrame(df.SUBNET.apply(subnet_details))).sort_values(['NUM', 'IP_START'])

df_list = []
for n in df.NUM.unique():
    df_list.append(df[df.NUM == n])

In [50]:
df

,SUBNET,DESC,IPS_END,IPS_START,IP_END,IP_START,NUM
3,192.168.1.16/29,Home 16-23,192.168.1.23,192.168.1.16,3232235799,3232235792,8
4,192.168.1.24/29,Home 24-31,192.168.1.31,192.168.1.24,3232235807,3232235800,8
2,192.168.1.16/28,Home 16-31,192.168.1.31,192.168.1.16,3232235807,3232235792,16
5,192.168.1.32/28,Home 32-47,192.168.1.47,192.168.1.32,3232235823,3232235808,16
6,192.168.1.48/28,Home 48-63,192.168.1.63,192.168.1.48,3232235839,3232235824,16
1,192.168.1.128/25,Home Static Range 128-255,192.168.1.255,192.168.1.128,3232236031,3232235904,128
0,192.168.1.0/24,HOME All,192.168.1.255,192.168.1.0,3232236031,3232235776,256

[            SUBNET        DESC       IPS_END     IPS_START      IP_END  \
 3  192.168.1.16/29  Home 16-23  192.168.1.23  192.168.1.16  3232235799
 4  192.168.1.24/29  Home 24-31  192.168.1.31  192.168.1.24  3232235807

      IP_START  NUM
 3  3232235792    8
 4  3232235800    8  ,
             SUBNET        DESC       IPS_END     IPS_START      IP_END  \
 2  192.168.1.16/28  Home 16-31  192.168.1.31  192.168.1.16  3232235807
 5  192.168.1.32/28  Home 32-47  192.168.1.47  192.168.1.32  3232235823
 6  192.168.1.48/28  Home 48-63  192.168.1.63  192.168.1.48  3232235839

      IP_START  NUM
 2  3232235792   16
 5  3232235808   16
 6  3232235824   16  ,
              SUBNET                       DESC        IPS_END      IPS_START  \
 1  192.168.1.128/25  Home Static Range 128-255  192.168.1.255  192.168.1.128

        IP_END    IP_START  NUM
 1  3232236031  3232235904  128  ,
            SUBNET      DESC        IPS_END    IPS_START      IP_END  \
 0  192.168.1.0/24  HOME All  192.168.1.255  192.168.1.0  3232236031

      IP_START  NUM
 0  3232235776  256  ]

In [63]:
def lookup_ip(ip):
    ipa = ipaddress.ip_address(ip)
    nip = int(ipa)
    for df in df_list:
        res = df[(df.IP_START <= nip) & (df.IP_END >= nip)]
        if len(res) > 0:
            return res.iloc[0]
    return None

ip = '192.168.1.34'
lookup_ip(ip)

SUBNET       192.168.1.32/28
DESC              Home 32-47
IPS_END         192.168.1.47
IPS_START       192.168.1.32
IP_END            3232235823
IP_START          3232235808
NUM                       16
Name: 5, dtype: object

,SUBNET,DESC,IPS_END,IPS_START,IP_END,IP_START,NUM
1,192.168.1.128/25,Home Static Range 128-255,192.168.1.255,192.168.1.128,3232236031,3232235904,128
0,192.168.1.0/24,HOME All,192.168.1.255,192.168.1.0,3232236031,3232235776,256

In [21]:
n.network_address + 4

IPv4Address('192.168.1.20')

In [25]:
str(n.network_address)

'192.168.1.16'

,SUBNET,DESC,IPS_END,IPS_START,IP_END,IP_START,NUM
0,192.168.1.0/24,HOME All,192.168.1.255,192.168.1.0,3232236031,3232235776,256
1,192.168.1.128/25,Home Static Range 128-255,192.168.1.255,192.168.1.128,3232236031,3232235904,128
2,192.168.1.16/28,Home 16-31,192.168.1.31,192.168.1.16,3232235807,3232235792,16
3,192.168.1.16/29,Home 16-23,192.168.1.23,192.168.1.16,3232235799,3232235792,8
4,192.168.1.24/29,Home 24-31,192.168.1.31,192.168.1.24,3232235807,3232235800,8
5,192.168.1.32/28,Home 32-47,192.168.1.47,192.168.1.32,3232235823,3232235808,16
6,192.168.1.48/28,Home 48-63,192.168.1.63,192.168.1.48,3232235839,3232235824,16